:root{
    --color-secondario-- :rgb(248, 249, 250);
    --color-info-section--:rgb(80, 93, 106);
    --color-footer--:rgb(74, 85, 98);
    --color-icon-social--:rgb(99, 110, 121);
    --color-p-info-section--:rgb(185, 190, 195);
}
body{
    font-family: "Nunito sans", system-ui;
}
#info{
    background-color: var(--color-info-section--);
    color: white;
}
#info p{
    color: var(--color-p-info-section--);
}
#footer{
    background-color: var(--color-footer--);
}

#feedNome, #feedCognome, #feedTel, #feedEmail{
    font-family: "Nunito sans", system-ui ;
    font-size: 1rem;
    color: red;
}
#carousel p{
    font-size: 3rem !important;
}
.filtro-oscuro{
    filter: brightness(70%);
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 0.8rem; /* change width */
    height: 0.8rem; /* change height */
    padding: 0;
    margin-right: 0.3rem;
    margin-left: 0.rem;
    cursor:pointer;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 0;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    transition: opacity .10s ease;
    border-radius: 100%;
}
.carousel-indicators .active {
    background-color: rgb(1, 123, 254);
}


.list-group-item {
    display: flex;
    justify-content: space-between;
}
.activities-list, .dishes-list, .attractions-list {
    max-height: 150px;
    overflow-y: auto;
}
.carousel-item img { 
    width: 100%; 
    height: 100vh; /* Para que cubra toda la altura del viewport */ 
    object-fit: cover; /* Para que la imagen cubra todo el contenedor */ 
}
.swiper-pagination{
    color: black;
}
.filtro-blur{
    backdrop-filter: blur(20px) !important;
}
/* Oculta la barra de desplazamiento en WebKit (Chrome, Safari, Edge) */
.noScrollBar::-webkit-scrollbar {
    display: none !important;
}


@media screen and (min-width:700px){
    .transition{
        transition: all 0.5s;
    }
    .transition:hover{
        transform: scale(105%);
        
    }
}